
.idea/modules.xml
.idea/SudokuSolver.iml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/other.xml
__pycache__/sudoku.cpython-37.pyc
